body {
    margin: 0px;
    color: #FFFFFF;
    background: linear-gradient(109.61deg,#4c4f5a 4.26%,#202125 84.84%) fixed;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}

.logo {
    height: 100%;
    width: 150px;
    margin-right: 45px;
}


.explore {
    color: #ffdd40;
    clear: both;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

.link {
    text-decoration: none;
    font-size: 23px;
    font-weight: bolder;
    color: #FFFFFF;
    margin-right: 10px;
}

#topnav {
    background-color: #000000;
    padding: 15px;
}

.sparkbtn {
    background-color: #000000;
    color: #c7c9d3;
    padding: 16px;
    font-size: 23px;
    border: none;
}
  
.spark {
    position: relative;
    display: inline-block;
}
  
.content {
    display: none;
    position: absolute;
    background-color: rgba(32, 33, 37);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.content a {
    color: #c7c9d3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
.content a:hover {
    background-color: rgba(76, 79, 90,0.6);
}
  
.spark:hover .content {
    display: block;
}

.down {
    font-size: 2rem;
}

.logbtns {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 5px;
}

.createbtn {
    background-color: #4c4f5a;
    border: none;
    margin: 5px;
    height: 65px;
    width: 120px;
    color: #FFFFFF;
    border-radius: 4px;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-size: 1rem;
    font-weight: 700 !important;
    font-size: 20px;

}
  
.create {
    position: relative;
    display: inline-block;
}
  
.create:hover .content {
    display: block;
}

.btns {
    background-color: #4c4f5a;
    border: none;
    margin: 5px;
    height: 65px;
    width: 120px;
    color: #FFFFFF;
    border-radius: 4px;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-size: 1rem;
    font-weight: 700 !important;
    font-size: 20px;
}

.green {
    color: #47cf73;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-size: 2rem;
    font-weight: 700 !important;
}

#icon {
    height: 65px;
    width: 65px;
    border: none;
    background-color: transparent;
    color: #868ca0;
    font-size: 35px;
}

#info {
    display: block;
    width: 500px;
    height: 100%;
    font-size: 1.375em;
    margin-left: 50px;
    margin-top: 50px;
}

#p2 {
    color: #c7c9d3;
}

#sbtn {
    background-color: #47cf73;
    height: 55px;
    width: 275px;
    border: 0px;
    border-radius: 4px;
    font-size: 1.375em;
}

#mbtn {
    background-color: #202125;
    color: #FFFFFF;
    border: 0px;
    border-radius: 4px;
    font-size: 1.375em;
    font-weight: 700 !important;
    height: 55px;
}

#example {
    display: block;
    width: 600px;
    height: 100%;
    margin-top: 50px;
    float: right;
    font-weight: bold;
}

.blue {
    color: #76daff;
    text-decoration: none;
}

.blue:hover {
    color: #FFFFFF;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #717790;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
  }

  .btns2 {
      background-color: #4c4f5a;
      color: #FFFFFF;
      width: 330px;
      height: 55px;
      font-size: 20px;
      border: 0px;
  }
  
  .special {
    font-family: "Telefon Black", Sans-Serif;
    font-size: 25px;
    font-weight: bolder;
  }